.table-container{
    position: relative;
    top: 10px;
    /* height: 368px;
    width: 520px; */
   
   
}
table,tr,td,th{
    border: 2px solid orange;
    border-collapse: collapse;
    padding: 6px 6px;
    background-color: antiquewhite;
}