.container {
    background-image: url('/assets/images/hotel.jpg');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.btns{
    padding: 6px 6px;
    margin: 5px;
}
.btn-container{
    position: relative;
    top: 25px;
}